<h1>New underling</h1>

Enter the e-mail of the user you'll be a manager for.

<%= render "form.html", Map.put(assigns, :action, Routes.manager_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.manager_path(@conn, :index) %></span>
