<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>The Todo App</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
<div class="container">
      <nav class="navbar navbar-expand-sm navbar-light bg-white">
        <div class="col-4">
          <%= link "The Todo App", class: "navbar-brand", to: Routes.page_path(@conn, :index) %>
        </div>
        <div class="col-8">
          
            <%= if is_nil(@current_user) do %>
              <ul class="navbar-nav">
                <li>
                  <%= link "Register", class: "nav-link", to: Routes.user_path(@conn, :new) %>
                </li>
                <li>
                  <%= link "Login", class: "nav-link", to: Routes.session_path(@conn, :login) %>
                </li>
            <% else %>
              <ul class="navbar-nav justify-content-between">
                <li>
                  <%= link "My Todo List", class: "nav-link", to: Routes.todo_item_path(@conn, :my_todos)%>
                </li>
                <li>
                  <%= link "My Underlings' Todo List", class: "nav-link", to: Routes.todo_item_path(@conn, :show_underlings_todos)%>
                </li>
                <li>
                  <%= link "Logout", class: "nav-link btn btn-primary", to: Routes.session_path(@conn, :delete)%>
                </li>
                <li class="navbar-text"> <%= link "Profile", to: Routes.user_path(@conn, :me) %></li>
              <% end %>
            </ul>
        </a>
      </nav>

      <div class="row">
        <div class="col-12">
          <%= if get_flash(@conn, :info) do %>
            <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
          <% end %>
          <%= if get_flash(@conn, :error) do %>
            <p class="alert alert-danger" role="alert">
              <%= get_flash(@conn, :error) %>
            </p>
          <% end %>
        </div>
      </div>

      <%= render @view_module, @view_template, assigns %>
    </div>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
